---
import { Image } from "astro:assets";
import { slugify, formatDate } from "../js/utils";
import moment from "moment";
const { frontmatter, url } = Astro.props;
const { category, title, author, date, image, description } = frontmatter;
const blogDate = formatDate(date);
const now = new Date()
---

<header class="container p-4 border border-white border-opacity-10 rounded mb-6 mx-auto">  
  <small>
      <a class="bg-gray-500 rounded p-1 px-4 font-medium mr-2" href={`/category/${slugify(category)}/`}>{category}</a>
      <span class="text-gray-400">{
        moment(blogDate).fromNow()
      }
        </span>
    </small>
  <div class="content mt-4">
    <a href={url} class="text-4xl"> <h1>{title}</h1></a>
    <p class="text-gray-400">
      by <a href={`/author/${slugify(author)}/`}>{author}</a>.
    </p>
  </div>
 <div class="mt-6">
   <a href={url} aria-hidden="true" tabindex="-1" >
    <Image
      src={image.src}
      alt={image.src}
      width="1600"
      height="900"
      decoding="async"
      loading="lazy"
      format="avif"
      quality={80}
      class="rounded mb-2"
    /></a
  >
  <p class="mb-6 text-gray-400">{description}</p>
  <a href={url} class="transition py-1 px-4 rounded font-medium border border-slate-200 lg:py-2 lg:px-6 hover:bg-gray-200 hover:text-zinc-900">Read Post</a>
 </div>
</header>
