---
import { Image } from "astro:assets";
import { slugify, formatDate } from "../js/utils";
const { frontmatter, url } = Astro.props;
const { category, title, author, date, image } = frontmatter;
---

<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}/`}>{category}</a>
    </small>
  </div>
  <div class="content">
    <a href={url}> <h1>{title}</h1></a>
    <p>
      by <a href={`/author/${slugify(author)}/`}>{author}</a>. {
        formatDate(date)
      }
    </p>
  </div>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.src}
      alt={image.src}
      width="1600"
      height="900"
      decoding="async"
      loading="lazy"
      format="avif"
      quality={80}
      class=""
    /></a
  >
  <a href={url}>Read Post</a>
</header>
