---
import PostHeader from '../components/PostHeader.astro';
import Layout from './Layout.astro';


const {frontmatter} = Astro.props;
const {title, description, date, category, author, image} = frontmatter;
---

<Layout {title} {description}>
   <section class="max-w-screen-xl mx-auto mt-[200px]">
     <PostHeader {title} {description} {date} {category} {image} {author} />
   </section>
</Layout>